<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everything Awesome</title>
</head>
<body>
    <header>
        <h1>Everything Awesome</h1>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create</a></li>
            </ul>
        </nav>
    </header>
